.post h3{
    font-weight: 300;
    margin-bottom: 0.625rem;
    font-size: calc(1.3rem + 0.6vw);
}
.post h2{
    font-size: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}
.post h2:hover, .post h3:hover{
color: rgb(10, 180, 232);
cursor: pointer;
}
.post{
    border-bottom: 1px solid black;
    text-align: left;
}
