.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin:10px 0;
}
.navbar ul li{
    text-decoration: none;
    margin: 0 20px;
}
.main{
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    color:white;
}
.main *{
    text-shadow: 2px 1px black;
}